.footer__row-link{
    width: 106px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;

}