.place__website_size{
    margin-top: 106px;
}

@media screen and (max-width: 768px) {
    .place__website_size{
        margin-top: 0;
    }

}

@media screen and (max-width: 320px) {
    .place__website_size{
        margin-top: 32px;
    }

}