.places{
    margin: auto;
    margin-top: 7.1875%;
    width: 76.875%;

}

@media screen and (max-width: 1024px) {
    .places{
        margin-top: 8.9844%;
        width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .places{
        margin-top: 11.45834%;
        width: 93.75%;
    }
}

@media screen and (max-width: 320px) {
    .places{
        margin-top: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}