.header__links{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 18px;
    align-items: flex-end;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .header__links{
        margin-bottom: 8px;
    }
}
