.intro__list{
    margin: 0;
    margin-top: 4.7827%;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .intro__list{
    margin-top: 4.58334%;
    }
}

@media screen and (max-width: 320px) {
    .intro__list{
    margin-top: 11.80556%;
    }
}