.place__paragraph{
    width: 49.187%;
    margin: 0;
    margin-bottom: 2.6423%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}
