.lead__image{
    width: 100%;
    margin-top: 6.5041%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .lead__image{
        margin-top: 6.03449%;
    }
}

@media  screen and (min-width: 768px) and (max-width: 1023px){
    .lead__image{
        margin-top: 7.29167%;
    }
}

@media (max-width: 767px){
    .lead__image{
        margin-top:12.5%;
    }
}