.intro__text{
    display: block;
    margin: 0;
    margin-top: 5.7972%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .intro__text{
        margin-top: 5.556%;
    }
}

@media screen and (max-width: 767px) {
    .intro__text{
        margin-top: 40px;
        padding-top:6px;
        }
}