.lead__subtitle{
    width: 65.041%;
    margin: auto;
    margin-top: 3.2525%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .lead__subtitle{
        width: 68.9656%;
        margin-top: 3.4483%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .lead__subtitle{
        width: 83.334%;
        margin-top: 4.1667%;
    }
}

@media (max-width: 767px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 125%;
        width: 90%;
        margin-top: 5%;
    }
}