.cover__image{
    background-image: url(../../../image/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    min-height: 740px;
}


@media screen and (max-width: 1024px) {
    .cover__image{
        min-height: 640px;
    }

}

@media screen and (max-width: 768px) {
    .cover__image{
        min-height: 480px;
    }

}

@media screen and (max-width: 320px) {
    .cover__image{
        min-height: 164px;
    }

}