.lead__caption{
    margin-top: 0.814%;
    align-self: start;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}


@media screen and (min-width: 1024px) and (max-width: 1279px){
    .lead__caption{
        margin-top: 1.04167%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .lead__caption{
        margin-top: 1.04167%;
        margin-left: 3.125%;
    }
}

@media screen and (max-width: 767px){
    .lead__caption{
        margin-top: 2.5%;
        margin-left: 5%;
    }
}