.cover__title{
    width: 47.2973%;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title{
        width: 54.6875%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title{
        width: 72.91667%;
    }
}

@media screen and (max-width: 767px) {
    .cover__title{
        margin-top: 33px;
        width: 90%;
        font-size: 32px;
        line-height: 109%;
        text-align: center;
    }
}
