.place{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(460px, max-content));
    justify-content: center;
    gap: 48px 40px;
    margin: 0 auto 80px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place{
        grid-template-columns: repeat(auto-fit, minmax(440px, max-content));
        gap: 48px 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place{
        grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
        gap: 48px 28px;
        margin: 0 auto 73px;
    }
    .place:nth-of-type(5){
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .place{
        grid-template-columns: 100vw;
        gap: 32px;
        margin: 0 auto 50px;
    }
    .place:nth-of-type(2){
        padding-top: 27px;
    }
    .place:nth-of-type(5){
        padding-top: 28px;
        margin: 0 auto;
    }
}