.place{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 584px;
    margin-bottom: 80px;
}

.place:nth-of-type(3n+1){
    height: 660px;
}

.place.place:nth-of-type(5){
    margin-bottom: 0;
}



@media screen and (max-width: 1024px) {
    .place{
        height: 564px;
    }
    .place:nth-of-type(3n+1){
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .place{
        margin-bottom: 73px;
    }
    
    .place:nth-of-type(1){
        height: 581px;
    }
    .place:nth-of-type(2){
        height: 535px;
    }
    .place:nth-of-type(3){
        height: 483px;
    }
    .place:nth-of-type(4){
        height: 434px;
    }
    .place:nth-of-type(5){
        height: 484px;
    }


}

@media screen and (max-width: 320px) {
    .place{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        margin-bottom: 50px;
    }
    .place:nth-of-type(n){
        height: auto;
    }
}